@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-size:16px;
}

body {
    font-family: "Public Sans";
    font-weight:400;
    font-size:14px;
    color: #302f2f;
}

.svg-div {
    height: 50px; 
    overflow: hidden;
     margin-top:-18px;
}

.svg-wave {
    height: 100%; 
    width: 100%;
}

.svg-wave-path {
    stroke: none;
    fill: white;
}

.section-one {
    height: 30vh;
    text-align: center;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    background-color: #FBC740;
}

.section-one img {
    margin-top:1rem;
    width:200px;
    height:auto;
}


h1{
    font-family: 'Fraunces';
    color: #1a1919;
    text-align:center;
    font-size:2rem;
}

.section-one i {
    font-size: 2rem;
    padding: 0.5rem;
}

.section-two {
    background-color:white;
    height:30vh;
    margin:0 1rem;
    display:flex;
    flex-direction:column;
}



h2 {
    text-align: center;
    font-family: "Fraunces";
    color:#008080;
}

.section-two p {
    text-align: center;
    padding:1rem;
    /* border: 2px solid black; */
}

.about-me__strengths {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:1rem 0;
}

.about-me__strengths img {
    width: 150px;
    height:auto;
    margin-top:1rem;
}

.about-me__strengths h3 {
    font-family: "Fraunces";
    padding-top:1rem;
    text-decoration:underline 2px solid #dbae37;

}

.about-me__strengths span {
    color:#008080;
}