@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-size:16px;
}

body {
    font-family: "Public Sans";
    font-weight:400;
    font-size:14px;
    color: #302f2f;
}

.svg-div {
    height: 50px; 
    overflow: hidden;
     margin-top:-18px;
}

.svg-wave {
    height: 100%; 
    width: 100%;
}

.svg-wave-path {
    stroke: none;
    fill: white;
}

.svg-wave-path-yellow {
    stroke: none;
    fill: #FBC740;
    padding-bottom:1rem;
}

.section-one {
    padding-top:1rem;
    text-align: center;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    background-color: #FBC740;
}

.section-one img {
    margin-top:1rem;
    width:200px;
    height:auto;
}


h1{
    font-family: 'Fraunces';
    color: #1a1919;
    text-align:center;
    font-size:2rem;
}

.section-one i {
    font-size: 2rem;
    padding: 0.5rem;
}

.section-two {
    background-color:white;
    margin:0 1rem;
    display:flex;
    flex-direction:column;
    padding-bottom:2rem;
}



h2 {
    text-align: center;
    font-family: "Fraunces";
}

.h2-blue {
    color:#008080;
}

.h2-black {
    color:black;
    padding-bottom:1rem;
}

.section-two p {
    text-align: center;
    padding:1rem;
    /* border: 2px solid black; */
}

.about-me__strengths {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:1rem 0;
}

.about-me__strengths img {
    width: 150px;
    height:auto;
    margin-top:1rem;
}


.about-me__strengths h3 {
    font-family: "Fraunces";
    padding-top:1rem;
    text-decoration:underline 2px solid #dbae37;

}

.about-me__strengths span {
    color:#008080;
}

.section-three {
    background-color: #FBC740;
    padding-bottom:2rem;
}

.projects-container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.project img {
    width:325px;
    height:auto;
    margin-top:2rem;
}

.project h3 {
    font-family: "Fraunces";
    padding-top:1rem;
    text-decoration:underline 2px solid #008080;;
}

.project p {
    padding: 0.5rem 2rem;
    padding-bottom:1rem;
}

.project__button {
    padding:0.75rem 2.5rem;
    margin:0 0.75rem;
    border-radius: 50px;
    border:none;
    background-image: linear-gradient(#00b3b3, #009a9a);
    font-family: inherit;
}

.project__button:hover {
    cursor:pointer;
    opacity:0.6;
}

.project__link {
    text-decoration:none;
    color:inherit;
}